<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @image.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @image.description %>
</p>

<p>
  <strong>Category:</strong>
  <%= @image.category %>
</p>

<p>
  <strong>Image url:</strong>
  <%= @image.image_url %>
</p>

<p>
  <strong>Voice url:</strong>
  <%= @image.voice_url%>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', image_path %>